<a [routerLink]="['']">Home</a>
<h2>Edit {{ editMovie.name }}'s information:</h2>
<p> {{ movie | json }} </p>
<p *ngIf="(error)">{{error}}</p>


<form (submit)="saveMovie()">

  <p>Movie name:</p>
  <input type="text" name="editMovie.name" [(ngModel)]="editMovie.name" />
  <!-- <p>Cuisine type:</p>
  <input type="text" name="editMovie.type" [(ngModel)]="editMovie.type" /> -->
  

  <input type="submit" title="Submit the changes you've made!" value="Submit Changes"/>
</form>
<button [routerLink]="['']" title="Change your mind? This button takes you home!">Cancel</button>