<button [routerLink]="['movies/new']">Click here to add a new Movie!</button>
<br><br>
<h3 title="Woot!">Movie List</h3>
<!-- <br><br> -->
  <table>
    <tr>
      <th title="Name of Movie">Movie Title</th>
      <!-- <th title="The Type of Cuisine Served at This Restaurant">Cuisine</th> -->
      <th title="What would you like to do?">Available Actions</th>
    </tr>
    <tr *ngFor="let movie of movies">
      <td>{{ movie.name }} </td>
      <!-- <td>{{ restaurant.type }}</td> -->

      <td>
        <button (click)="showMovie(movie)" [routerLink]="['/movies/' + movie._id]">Read Reviews</button>
        
        <button (click)="showMovie(movie)" [routerLink]="['/edit/' + movie._id]">Update</button>
        
        <!-- <button (click)="deleteMovie(movie)">Delete</button> -->
      
      </td>
    </tr>
  </table>