<button [routerLink]="['']">Home</button>
<!-- {{movie | json}} -->
<button id="redButton" (click)="deleteMovie(movie)">DELETE</button>
<br><br><br>
<h4>Reviews for {{ movie.name }}</h4>
<br><br>
<button [routerLink]="['/movies/review/' + movie._id]">Add New Review!</button>

<!-- <p *ngIf="(author.review)">Skills: {{ pet.skill1 }}</p> -->



<table>
  <tr>
    <th title="Name of Reviewer">Reviewer</th>
    <th title="The # of Stars That Reviewer Gave This Movie">Stars</th>
    <th title="What They Had To Say About This Movie?">Review</th>
  </tr>
  <tr *ngFor="let info of movie.movie_review">
    <td>{{ info.name }}</td>
    <td>{{ info.stars }}</td>
    <td>{{ info.review }}</td>
  </tr>
</table>


<!-- <button (click)="deletePet(pet)">Adopt this pet!</button> -->